main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 10px 30px 30px 30px;
    box-sizing: border-box;
}

.row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    box-sizing: border-box;
}

.row-flex-start {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    flex-shrink: 1;
    gap: 30px;
    padding: 0;
    box-sizing: border-box;
}

.row-flex-center {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex-shrink: 1;
    gap: 30px;
    padding: 0;
    box-sizing: border-box;
}

.row-flex-around {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    flex-shrink: 1;
    gap: 30px;
    padding: 0;
    box-sizing: border-box;
}

.column-1 {
    width: 8.33333%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    box-sizing: border-box;
}

.column-2 {
    width: 16.66666%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    box-sizing: border-box;
}

.column-3 {
    width: 25%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    box-sizing: border-box;
}

.column-4 {
    width: 33.33333%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    box-sizing: border-box;
}

.column-5 {
    width: 41.66666%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    box-sizing: border-box;
}

.column-6 {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    box-sizing: border-box;
}

.column-7 {
    width: 58.33333%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    box-sizing: border-box;
}

.column-8 {
    width: 66.66666%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    box-sizing: border-box;
}

.column-9 {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    box-sizing: border-box;
}

.column-10 {
    width: 83.33333%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    box-sizing: border-box;
}

.column-11 {
    width: 91.66666%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    box-sizing: border-box;
}

.column-12 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    box-sizing: border-box;
}

.container h1 {
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 15px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
    font-family: var(--font-tilt-neon);
    white-space: nowrap;
}

.container h1 span {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-family: var(--font-plus-jakarta-sans);
}

.container h1 span .loader {
    font-size: 20px;
    color: var(--text-color);
    animation: spin 4.8s linear forwards;
} 

.container .wizard-static-slider {
    position: relative;
    width: 10px;
    height: 38vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    box-sizing: border-box;
    margin: 0 0 0 5%;
    background-color: #00000015;
    border-radius: 25px;
}

.container .wizard-static-slider .slider-progress {
    background-color: #000000;
    width: 10px;
    transition: all 0.2s ease-in-out;
    animation: progress 0.2s ease-in-out;
}

.container .wizard-static-slider .marker {
    position: absolute;
    right: -70%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    transition: all 0.2s ease-in-out;
    border: 2px solid #000000cb;
    font-weight: 550;
    font-size: 14px;
    font-family: var(--font-tilt-neon);
    user-select: none;
    z-index: 1;
}

.container .wizard-static-slider .marker.active {
    color: #fff;
    background-color: #000000;
}

.chart-container {
    width: 45%;
    height: auto;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
}

/* Responsive */

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .container h1 {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }

    .container h1 span {
        justify-content: flex-start;
    }
}