.responsive-menu {
    display: none;
}

.responsive-sidebar {
    display: none;
}

.responsive-sidebar .close-btn {
    display: none;
}

.bar {
    width: 15%;
    height: 80vh;
    position: sticky;
    top: 20px;
    z-index: 99;
    margin-top: -250px;
    margin-left: 3%;
    padding: 0;
}

.sidebar-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.sidebar-wrapper .role-span {
    position: absolute;
    top: -15px;
    left: 5px;
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-tilt-neon);
    color: var(--active-link-color);
    backdrop-filter: blur(3px);
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 15px;
    line-height: 1.4; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--active-link);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1), 0 0 0 4px rgba(0, 0, 0, 0.07), 0 0 0 8px rgba(0, 0, 0, 0.03);
    /* box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3), 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 0 9px rgba(0, 0, 0, 0.1);
    animation: popShadow 15s infinite; */
    z-index: 1;
}

.sidebar-wrapper .role-span .active {
    color: rgb(50, 197, 50);
}

.sidebar-wrapper .role-span .inactive {
    color: rgb(197, 50, 50);
}

.sidebar {
    width: 100%;
    height: 80vh;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    background: var(--sidebar-gradient);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.2s ease-in-out;
}

.sidebar .sidebar-header {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    align-items: center;
    padding: 18px 15px;
    border-bottom: 1px solid #0000001c;
}

.sidebar .sidebar-header h1 {
    position: relative;
    font-size: 24px;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-family: var(--font-tilt-neon);
    line-height: 1.4; 
}

.sidebar .sidebar-header h1 p {
    font-size: 12px;
    line-height: 1.2;
    margin: 10px 0 0 0;
    padding: 0;
}

.sidebar .sidebar-header .opener-closer {
    position: absolute;
    top: -2px;
    right: 2px;
    font-size: 20px;
    text-decoration: none;
    color: #3A3937;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 25px;
}

.sidebar .sidebar-header .opener-closer:hover {
    color: #000;
}

.sidebar .sidebar-header .done-button {
    position: absolute;
    bottom: -10px;
    right: 2px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #3A3937;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 25px;
}

.sidebar .sidebar-header .done-button:hover {
    color: #000;
}

.sidebar ul {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    padding: 30px 20px;
    box-sizing: border-box;
}

.sidebar ul li {
    width: 100%;
    list-style: none;
}

.sidebar ul li .navigator {
    width: 100%;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 25px;
    opacity: 0.87;
    font-family: var(--font-tilt-neon);
    transition: all 0.2s ease-in-out;
}

.sidebar ul li .navigator:hover {
    opacity: 1;
    background-color: #00000009;
    backdrop-filter: blur(5px);
}

.sidebar ul li .navigator.active {
    opacity: 1;
    color: var(--active-link-color);
    background-color: var(--active-link);
    backdrop-filter: blur(5px);
}

/* Responsive */

@media screen and (max-width: 1500px) {
    .bar {
        width: 16%;
    }
}

@media screen and (max-width: 1350px) {
    .bar {
        width: 18%;
    }
}

@media screen and (max-width: 1275px) {
    .bar {
        width: 20%;
    }
}

@media screen and (max-width: 1200px) {
    .bar {
        width: 23%;
    }
}

@media screen and (max-width: 1150px) {
    .bar {
        width: 26%;
        height: 85vh;
        margin-top: -400px;
    }

    .sidebar {
        height: 85vh;
    }
}

@media screen and (max-width: 1100px) {
    .bar {
        width: 29%;
    }
}

@media screen and (max-width: 1050px) {
    .bar {
        width: 32%;
    }
}

@media screen and (max-width: 1000px) {
    .bar {
        width: 35%;
    }
}

@media screen and (max-width: 800px) {
    .bar {
        width: 38%;
    }
}

@media screen and (max-width: 700px) {
    .bar {
        width: 43%;
        margin-top: -630px;
    }
}

@media screen and (max-width: 650px) {
    .bar {
        width: 50%;
    }
}

@media screen and (max-width: 630px) {
    .bar {
        display: none;
    }

    .responsive-menu {
        width: 84%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        position: fixed;
        top: 20px;
        left: 8%;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 15px;
        padding: 10px 15px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .responsive-menu .logo {
        font-size: 22px;
        width: fit-content;
    }

    .responsive-menu .toggler {
        font-size: 20px;
        width: fit-content;
        padding: 5px;
        border-radius: 5px;
        text-decoration: none;
        color: var(--text-color);
        transition: all 0.2s ease-in-out;
        margin-top: 5px;
    }

    .responsive-sidebar-enter {
        transform: translateX(-100%);
        opacity: 0;
    }
    
    .responsive-sidebar-enter-active {
        transform: translateX(0);
        opacity: 1;
        transition: transform 300ms, opacity 300ms;
    }
    
    .responsive-sidebar-exit {
        transform: translateX(0);
        opacity: 1;
    }
    
    .responsive-sidebar-exit-active {
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 300ms, opacity 300ms;
    }
    
    .responsive-sidebar {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(0, 0, 0, 0.1);
        padding: 0;
        margin: 0;
        z-index: 999;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(5px);
    }
    
    .responsive-sidebar .elements-holder {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        background: var(--sidebar-gradient);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        padding: 40px 25px;
        margin: 0;
        z-index: 999;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(25px);
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .responsive-sidebar .elements-holder .close-btn {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        font-size: 40px;
        font-weight: 800;
        transition: all 0.2s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 0;
        margin: 0;
        color: var(--text-color);
    }

    .responsive-sidebar .elements-holder ul {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
        padding: 30px 20px;
        box-sizing: border-box;
    }
    
    .responsive-sidebar .elements-holder ul li {
        width: 100%;
        list-style: none;
    }
    
    .responsive-sidebar .elements-holder ul li .navigator {
        width: 100%;
        text-decoration: none;
        font-size: 17px;
        font-weight: 500;
        color: #000;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 25px;
        opacity: 0.87;
    }
    
    .responsive-sidebar .elements-holder ul li .navigator:hover {
        opacity: 1;
        background-color: #00000009;
        backdrop-filter: blur(5px);
    }
    
    .responsive-sidebar .elements-holder ul li .navigator.active {
        opacity: 1;
        color: var(--active-link-color);
        background-color: var(--active-link);
        backdrop-filter: blur(5px);
    }
}