@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideDownBig {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideUpBig {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes hoverBoxShadow {
    0% {
        box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3);
    }
    100% {
        box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.7);
    }
}

:root {
    --header-gradient: linear-gradient(45deg, #afe8ffa4, #cfebfea2);
    --sidebar-gradient: linear-gradient(120deg, #cfebfed5, #afe8ffd2);
    --active-link: #3b48ff;
    --active-link-color: #fff;
    --box-shadow: 0 0 0 4px #3b48ff;
    --outline: 2px solid #3b48ff9d;
}

.green-theme {
    --header-gradient: linear-gradient(45deg, #afffd0a4, #cffed9a2);
    --sidebar-gradient: linear-gradient(120deg, #cffed9d0, #afffd0d0);
    --active-link: #089242;
    --active-link-color: #fff;
    --box-shadow: 0 0 0 4px #089242;
    --outline: 2px solid #0892429d;
}

.red-theme {
    --header-gradient: linear-gradient(45deg, #ffafaca4, #ffded9a2);
    --sidebar-gradient: linear-gradient(120deg, #ffded9d0, #ffafac9f);
    --active-link: #ff0000;
    --active-link-color: #fff;
    --box-shadow: 0 0 0 4px #ff0000;
    --outline: 2px solid #ff00009d;
}

.orange-theme {
    --header-gradient: linear-gradient(45deg, #fce1a7a4, #ffdcc5a2);
    --sidebar-gradient: linear-gradient(120deg, #ffdcc5a2, #fce1a7a4);
    --active-link: #ffa500;
    --active-link-color: #000;
    --box-shadow: 0 0 0 4px #ffa500;
    --outline: 2px solid #ffa5009d;
}

.yellow-theme {
    --header-gradient: linear-gradient(45deg, #fff7aca4, #fffed9a2);
    --sidebar-gradient: linear-gradient(120deg, #fffed9a2, #fff7aca4);
    --active-link: #ffff00;
    --active-link-color: #000;
    --box-shadow: 0 0 0 4px #ffff00;
    --outline: 2px solid #ffff009d;
}

.black-and-white-theme {
    --header-gradient: linear-gradient(45deg, #3333331c, #ffffffbd);
    --sidebar-gradient: linear-gradient(120deg, #ffffffbd, #3333331c);
    --active-link: #000;
    --active-link-color: #fff;
    --box-shadow: 0 0 0 4px #000;
    --outline: 2px solid #000;
}

/* Global Styles */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 0.8px;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

.link {
    position: relative; /* Required for positioning the ::after element */
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-align: left;
    text-decoration: none;
    color: rgba(59, 87, 211, 1);
    cursor: pointer;
    font-weight: 500;
    transition: color 0.3s ease;
}

.link::after {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 0;
    height: 2px; 
    background-color: rgba(59, 87, 211, 1);
    transition: width 0.3s ease;
}

.link:hover::after {
    width: 100%;
}