:root {
    --header-gradient: linear-gradient(45deg, #afe8ffa4, #cfebfea2);
    --sidebar-gradient: linear-gradient(120deg, #cfebfed5, #afe8ffd2);
    --active-link: #3b48ff;
    --active-link-color: #fff;
    --btn-color: #000;
    --box-shadow: 0 0 0 4px #3b48ff;
    --active-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.04), 0 0 0 20px rgba(0, 0, 0, 0.03);
    --outline: 2px solid #3b48ff9d;
    --input-bg: #0011fa0a;
    --radio-hover-effect: 0 0 0 4px rgba(0, 0, 0, 0.04);
    --radio-active-effect: 0 0 0 4px rgba(0, 0, 0, 0.04), 0 0 0 8px rgba(0, 0, 0, 0.03);
    --font-tilt-neon: 'Tilt Neon', sans-serif;
    --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
}

.green-theme {
    --header-gradient: linear-gradient(45deg, #afffd0a4, #cffed9a2);
    --sidebar-gradient: linear-gradient(120deg, #cffed9d0, #afffd0d0);
    --active-link: #089242;
    --active-link-color: #fff;
    --box-shadow: 0 0 0 4px #089242;
    --outline: 2px solid #0892429d;
    --input-bg: #08924209;
}

.red-theme {
    --header-gradient: linear-gradient(45deg, #ffafaca4, #ffded9a2);
    --sidebar-gradient: linear-gradient(120deg, #ffded9d0, #ffafac9f);
    --active-link: #ff0000;
    --active-link-color: #fff;
    --box-shadow: 0 0 0 4px #ff0000;
    --outline: 2px solid #ff00009d;
    --input-bg: #ff000009;
}

.orange-theme {
    --header-gradient: linear-gradient(45deg, #fce1a7a4, #ffdcc5a2);
    --sidebar-gradient: linear-gradient(120deg, #ffdcc5a2, #fce1a7a4);
    --active-link: #ffa500;
    --active-link-color: #000;
    --box-shadow: 0 0 0 4px #ffa500;
    --outline: 2px solid #ffa5009d;
    --input-bg: #ffa50009;
}

.yellow-theme {
    --header-gradient: linear-gradient(45deg, #fff7aca4, #fffed9a2);
    --sidebar-gradient: linear-gradient(120deg, #fffed9a2, #fff7aca4);
    --active-link: #ffff00;
    --active-link-color: #000;
    --box-shadow: 0 0 0 4px #ffff00;
    --outline: 2px solid #ffff009d;
    --input-bg: #ffff0009;
}

.grayish-theme {
    --header-gradient: linear-gradient(45deg, #3333331c, #e4e4e4bd);
    --sidebar-gradient: linear-gradient(120deg, #e4e4e4bd, #3333331c);
    --active-link: #000;
    --active-link-color: #fff;
    --box-shadow: 0 0 0 4px #000;
    --outline: 2px solid #000;
    --input-bg: #00000009;
}